.ns {
background-color: #8D8682; /* Cor de fundo da página*/}
   
.image-text-container {
display: flex;
align-items: center;
margin: 20px;
border: 5px solid #ffffff;}
   
.image-text-container img {
width: 50%;
max-width: 300px;
height: auto;
margin-right: 20px;
border: 5px solid #ffffff;}
   
.image-text-container.reverse {
flex-direction: row-reverse;
color: white;}
   
.text-content {
flex: 1;
color: #ffffff;}
   
.section-title {
text-align: center;
margin-bottom: 20px;
color: #fffefe;}
   
.section-paragraph {
text-align: center;
font-size: 18px;
margin-bottom: 30px;
font-family: Arial, sans-serif;
color: white;}

.ColorAsia {
height: 50px;
background-color: #8D8682; /* Cor de fundo superior ao cabeçalho*/
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}

.ColorAsia1 {
height: 5px;
background-color: #AD9551; /*Cor superior da borda do cabeçalho*/
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)}
   
footer img {
width: 100%; /* Define a largura da imagem para 100% do contêiner */
max-width: 100%; /* Define a largura máxima para 100% do contêiner */
height: auto; /* Define a altura da imagem */}   

.ColorAsia3{
height: 6px;
background-color: #AD9551; /*Cor superior da borda do rodapé*/}