.ColorHome{
    height: 50px;
    background-color: #8D8682; /* Cor de fundo Home*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ColorHome1{
    height: 5px;
    background-color: #AD9551; /* Cor de fundo Home*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ColorHome2{
    height: 6px;
    background-color: #AD9551; /* Cor de fundo Home*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


body {
    color: white;
    background-color: #8D8682;
}

.ColorHome4{
    height: 70vh;
    background-color: #8D8682; /* Cor de fundo Home*/
}
    

footer {
    text-align: center; /* Centraliza o conteúdo do rodapé */
    background-color: #F6F6F6; /* Cor de fundo do rodapé */
    
}

footer img {
    width: auto; /* Define a largura da imagem */
    height: auto; /* Define a altura da imagem */
    
}


.ColorHome6{
    height: 6px;
    background-color: #AD9551; /* Cor de fundo Home*/
    
   }

   .africa{

width: 370px;
height: 370px;
padding-left: 10px;
padding-right: 10px;
padding-top: 15px;
margin-left:10px;
background-color:#F6F6F6;
border:30px solid #EDD6A2 ;
   }

   .texto1{
    color:black
   }


   .america{

    width: 370px;
    height: 370px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    margin-left: 1100px;
    background-color:#F6F6F6;
    border:30px solid #EDD6A2 ;
       }
    
       .texto2{
        color:black
       }


       .asia{

        width: 370px;
        height: 370px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        margin-left:10px;
        background-color:#F6F6F6;
        border:30px solid #EDD6A2 ;
           }
        
           .texto3{
            color:black
           }


        .europa{

        width: 370px;
        height: 370px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        margin-left: 1100px;
        background-color:#F6F6F6;
        border:30px solid #EDD6A2 ;
               }
            
               .texto4{
                color:black
               }

         .oceania{

         width: 370px;
        height: 370px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        margin-left:10px;
        background-color:#F6F6F6;
        border:30px solid #EDD6A2 ;
             }
                    
        .texto5{
            color:black
              }
        
        H2{
            font-style: italic;
            color: black;
            font-size: xx-large;
            margin-left:50px;
        
        }

     .ns{

        background-color: #8D8682;
     }   
       
        
    
